<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmlx.app.dao.base.InterfaceModelInfoMapper" >

    <resultMap id="baseResultMap" type="com.lmlx.app.model.po.InterfaceModelInfoPo">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="p_id" property="pId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updator" property="updator" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="app_id" property="appId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="baseSelectStr">
        ID, P_ID, NAME, URL, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME, APP_ID
    </sql>

    <select id="qryModelTreeByAppId" parameterType="com.lmlx.app.model.so.QryModelTreeByAppIdSo" resultType="com.lmlx.app.model.po.InterfaceModelInfoPo">
        SELECT
        <include refid="baseSelectStr"></include>
        FROM INTERFACE_MODEL_INFO
        WHERE
            APP_ID = #{appId}
    </select>


    <select id="qryChildModelsByPIds" resultType="com.lmlx.app.model.po.InterfaceModelInfoPo">
        SELECT
        <include refid="baseSelectStr"></include>
        FROM INTERFACE_MODEL_INFO
        WHERE
            P_ID IN
            <foreach collection="modelIdList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <update id="update" parameterType="com.lmlx.app.model.so.InterfaceModelInfoSo">
        UPDATE INTERFACE_MODEL_INFO
        <set>
            <if test="null != pModelId">
                P_ID = #{pModelId},
            </if>
            <if test="null != modelName and '' != modelName">
                NAME = #{modelName},
            </if>
            <if test="null != modelUrl and '' != modelUrl">
                URL = #{modelUrl},
            </if>
            <if test="null != updator and '' != updator">
                UPDATOR = #{updator},
            </if>
            <if test="null != appId">
                APP_ID = #{appId},
            </if>
        </set>
        WHERE ID = #{modelId}
    </update>



    <insert id="save" parameterType="com.lmlx.app.model.so.InterfaceModelInfoSo" useGeneratedKeys="true" keyProperty="modelId">
        insert INTERFACE_MODEL_INFO (P_ID, NAME, URL, CREATOR, APP_ID) VALUES
        (#{pModelId}, #{modelName}, #{modelUrl}, #{creator}, #{appId})
    </insert>

    <delete id="deleteByIds">
        DELETE FROM INTERFACE_MODEL_INFO WHERE
        ID IN
        <foreach collection="modelIdSet" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
