<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmlx.app.dao.base.IntegrationAppInfpMapper" >

    <resultMap id="baseResultMap" type="com.lmlx.app.model.po.IntegrationAppInfoPo">
        <result column="app_id" property="appId" jdbcType="BIGINT" />
        <result column="app_name" property="appName" jdbcType="VARCHAR" />
        <result column="app_desc" property="appDesc" jdbcType="VARCHAR" />
        <result column="app_dev_host" property="appDevHost" jdbcType="VARCHAR" />
        <result column="app_pro_host" property="appProHost" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updator" property="updator" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="baseSelectStr">
        APP_ID, APP_NAME, APP_DESC, APP_DEV_HOST, APP_PRO_HOST, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME
    </sql>

    <select id="qryAll" resultMap="baseResultMap" parameterType="com.lmlx.app.model.so.IntegrationAppInfoSo">
        SELECT <include refid="baseSelectStr"/>
        FROM INTEGRATION_APP_INFO
        <where>
            <if test="null != appId and '' != appId">
                AND APP_ID = #{appId}
            </if>
            <if test="null != appName and '' != appName">
                AND APP_NAME LIKE CONCAT('%', #{appName}, '%')
            </if>
            <if test="null != appDesc and '' != appDesc">
                AND APP_DESC LIKE CONCAT('%', #{appDesc}, '%')
            </if>
            <if test="null != creator and '' != creator">
                AND CREATOR LIKE CONCAT('%', #{creator}, '%')
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.lmlx.app.model.so.IntegrationAppInfoSo">
        UPDATE INTEGRATION_APP_INFO
        <set>
            <if test="null != appName and '' != appName">
                APP_NAME = #{appName},
            </if>
            <if test="null != appDesc and '' != appDesc">
                APP_DESC = #{appDesc},
            </if>
            <if test="null != appDevHost and '' != appDevHost">
                APP_DEV_HOST = #{appDevHost},
            </if>
            <if test="null != appProHost and '' != appProHost">
                APP_PRO_HOST = #{appProHost},
            </if>
            <if test="null != appName">
                UPDATOR = #{updator},
            </if>
        </set>

        WHERE APP_ID = #{appId}
    </update>

    <insert id="save" parameterType="com.lmlx.app.model.so.IntegrationAppInfoSo" useGeneratedKeys="true" keyProperty="appId">
        insert INTEGRATION_APP_INFO (APP_NAME, APP_DESC, APP_DEV_HOST, APP_PRO_HOST, CREATOR) VALUES
        (#{appName}, #{appDesc}, #{appDevHost}, #{appProHost}, #{creator})
    </insert>

    <delete id="delete" parameterType="com.lmlx.app.model.so.IntegrationAppInfoSo">
        DELETE FROM INTEGRATION_APP_INFO WHERE 
        APP_ID IN 
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.appId}
        </foreach>
    </delete>
</mapper>
