<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmlx.app.dao.base.ManageUserInfoMapper" >



    <sql id="baseSelectStr">
        *
    </sql>

    <select id="qryByAccount" parameterType="com.lmlx.app.model.so.ManageUserInfoSo" resultType="com.lmlx.app.model.po.ManageUserInfoPo">
        SELECT <include refid="baseSelectStr"/>
        FROM MANAGE_USER_INFO
        WHERE ACCOUNT = #{account}
    </select>

    <select id="qryAll" resultType="com.lmlx.app.model.po.ManageUserInfoPo">
        SELECT <include refid="baseSelectStr"/>
        FROM MANAGE_USER_INFO ORDER BY USER_ID, ROLE_ID
    </select>
</mapper>
